body {
    background: #777;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

#master-box {
    margin: 0 auto;
    text-align: center;
    width: 960px;
}

.box {
    background: #ebebeb;
    color: gray;
    margin: 20px auto;
}

.inside-box {
    background: #ebebeb;
}

#header {
    padding-bottom: 25px;
    padding-top: 25px;
}

#nav {
    padding-bottom: 25px;
    padding-top: 25px;
}

#section {
    float: left;
    width: 445px;
    padding: 25px;
    height: 215px;
    background: #ebebeb;
}

#article {
    margin-top: 10px;
    background: #777;
    padding: 10px 10px 20px 10px;
    color: white;
}

#h-tag {
    font-weight: bold;
    color: gray;
    margin-top: 15px;
    padding: 10px;
    font-size: 22px;
}

#p-tag {
    margin-top: 15px;
    color: gray;
    padding: 10px;
}
#aside {
    float: left;
    width: 450px;
    padding-top: 15px;
    margin-left: 15px;
    height: 250px;
    
}

#footer {
    clear: both;
    padding-bottom: 25px;
    padding-top: 25px;
    
}